body{
    margin: 0;
    padding: 0;
       
}
header{
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    background: orange ;
    padding: 1rem;
}
ul{
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    display: flex;
    justify-content: right;
    overflow: hidden;
    background-color: orange;
}
ul li{
    float: inline-end;
}
ul li a{
    display: block;
    color: darkolivegreen;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
ul li a:hover{
    background-color: rgb(85, 57, 5);
    border-radius: 15px 15px;
}
.logo img{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
.hero-section {
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    /* height: 100px;
    width: 100px; */
    display: grid;
    grid-template-columns: auto auto;
   
}
.hero-heading{
    line-height: 50px;
    font-size: 40px ;
}
.hero-description{
    line-height: 60px;
    font-size: 25px;
}
.button{
    background-color: darkolivegreen;
    border-radius: 50px;
    color: orange;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button :hover{
    background-color: rgb(112, 76, 9);
}  
.content-section{
    background-color: darkolivegreen;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.content-section img{
    border-radius: 15px 50px;
}
.content-heading{
    font-size: 40px;
    justify-content: center;
    text-align: center;
    background-color: orange;
    color: darkolivegreen;
}

.footer-section{
    background-color: orange;
    width: 100%;
    padding: 10px 10px 10px;
}
.icon-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
.icon-bar a{
    text-decoration: none;
    padding: 10px;
    color: darkolivegreen;
    margin: 10px;

}
.icon-bar a i{
    font-size: 2rem;
    opacity: 0.9;
}
.icon-bar a:hover{
    background-color: rgb(133, 89, 8);
    border-radius: 10px;
    transition: 0.5s;
}
.nav-links{
    margin: 30px 0;

}
.nav-links ul{
    display: flex;
    justify-content: center;
}
.nav-links ul li a{
    color: darkolivegreen;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}
.footerbottom{
    padding: 5px;
    text-align: center;
    color: darkolivegreen;
}


.contact *{
    margin: 0;
    padding: 0;

}
.contact.body{
    background: beige;
    font-size: 14px;
    font-family: sans-serif;
}
.contact.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: darkolivegreen;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;

}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: beige;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;

}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
.input{
    width: 100%;
    border: none;
    border-bottom: 1px solid darkolivegreen;
    outline: none;
    padding-bottom: 5px;
}
.textarea{
    width: 100%;
    border: 1px solid beige;
    outline: none;
    padding: 10px;
}
.label{
    margin-bottom: 6px;
    display: block;color: orange;
}

.contact-left h3{
    color: beige;
    font-weight: 600;
    margin-bottom: 30px;

}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
    color: darkolivegreen;
}
.tr td:first-child{
    padding-right: 20px;

}
.tr td{
    padding-top: 20px;
}





    


 



